### This data is from [Traffic Volumes](https://data.smartdublin.ie/dataset/dcc-scats-detector-volume-jan-jun-2025) from SCATS Traffic Management System in Dublin from **May 2025**

The Sydney Coordinated Adaptive Traffic System (SCATS) is an intelligent transportation system used to manage timing of signal phases at traffic signals. SCATS uses sensors at each traffic signal to detect vehicle presence in each lane and pedestrians waiting to cross at the local site. The vehicle sensors are generally inductive loops installed within the road. The traffic volume counts here are best used to represent trends in vehicle movement by selecting a specific junction on the route which best represents the overall traffic flows.

### Meta Data
End Time: time that one hour count period finishes.

Region: location of the detector site (e.g. North City, West City, etc).

Site: this can be matched with the SCATS Sites file to show location

Detector: the detectors/ sensors at each site are numbered

Sum volume: total traffic volumes in preceding hour

Avg volume: average traffic volumes per 5 minute interval in preceding hour

In [115]:
import pandas as pd

In [116]:
#putting may dataset into a pandas dataframe

traffic_df = pd.read_csv("SCATSMay2025.csv")

In [117]:
traffic_df.sample(5)

,End_Time,Region,Site,Detector,Sum_Volume,Avg_Volume,Weighted_Avg,Weighted_Var,Weighted_Std_Dev
35122,20250512080000,IRE,6300,21,0,0,NaN,NaN,NaN
2431193,20250516060000,SCITY,83,9,0,0,NaN,NaN,NaN
5881309,20250505180000,CCITY,39,5,89,7,NaN,NaN,NaN
502577,20250524110000,IRE3,5129,23,0,0,NaN,NaN,NaN
4486400,20250503120000,CCITY,196,29,0,0,NaN,NaN,NaN

In [118]:
#dropping the columns that are NaN
traffic_df = traffic_df.drop(columns=["Avg_Volume", "Weighted_Avg", "Weighted_Var", "Weighted_Std_Dev"])
traffic_df = traffic_df.rename(columns={"Site" : "SiteID"})

In [119]:
#End_Time format: Year-month-day Hour:Minute:Second
traffic_df["End_Time"] = pd.to_datetime(traffic_df["End_Time"], format='%Y%m%d%H%M%S')
traffic_df.sort_values("End_Time")
traffic_df.head()

             End_Time Region  SiteID  Detector  Sum_Volume
0 2025-05-26 02:00:00  CCITY     403        21           0
1 2025-05-26 02:00:00  CCITY     403        22           0
2 2025-05-26 02:00:00  CCITY     403        23           0
3 2025-05-26 02:00:00  CCITY     403        24           0
4 2025-05-26 02:00:00  CCITY     404         1           2

### I am appending [location/site](https://data.smartdublin.ie/dataset/traffic-signals-and-scats-sites-locations-dcc) data to the dataframe from the hyperlinked csv

In [120]:
#location data append
locations = pd.read_csv("dcc_traffic_signals_20221130.csv")
locations.head()

,SiteID,Site_Description_Cap,Site_Description_Lower,Region,Lat,Long,Site_Type
0,1,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site
1,2,AMIENS ST @ SEVILLE PL,amiens st @ seville pl,CCITY,53.354711,-6.246679,SCATS Site
2,3,AMIENS ST @ TALBOT ST,amiens st @ talbot st,CCITY,53.351374,-6.250073,SCATS Site
3,4,ANNESLEY PL @ POPLAR ROW,annesley pl @ poplar row,NCITY,53.361145,-6.240513,SCATS Site
4,5,NCR @ AUGHRIM ST,ncr @ aughrim st,WCITY1,53.355797,-6.292406,SCATS Site

In [121]:
traffic_df = traffic_df.merge(locations, on="SiteID")

In [122]:
traffic_df.head()

,End_Time,Region_x,SiteID,Detector,Sum_Volume,Site_Description_Cap,Site_Description_Lower,Region_y,Lat,Long,Site_Type
0,2025-05-26 02:00:00,CCITY,403,21,0,GARDINER ST @ ABBEY ST/BERESFORD PL & PED ADJA...,gardiner st @ abbey st/beresford pl & ped adja...,CCITY,53.34937,-6.254029,SCATS Site
1,2025-05-26 02:00:00,CCITY,403,22,0,GARDINER ST @ ABBEY ST/BERESFORD PL & PED ADJA...,gardiner st @ abbey st/beresford pl & ped adja...,CCITY,53.34937,-6.254029,SCATS Site
2,2025-05-26 02:00:00,CCITY,403,23,0,GARDINER ST @ ABBEY ST/BERESFORD PL & PED ADJA...,gardiner st @ abbey st/beresford pl & ped adja...,CCITY,53.34937,-6.254029,SCATS Site
3,2025-05-26 02:00:00,CCITY,403,24,0,GARDINER ST @ ABBEY ST/BERESFORD PL & PED ADJA...,gardiner st @ abbey st/beresford pl & ped adja...,CCITY,53.34937,-6.254029,SCATS Site
4,2025-05-26 02:00:00,CCITY,404,1,2,PARKGATE ST @ HEUSTON BRIDGE AND PED ADJACENT ...,parkgate st @ heuston bridge and ped adjacent ...,CCITY,53.34775,-6.291860,SCATS Site

In [123]:
traffic_df = traffic_df.drop(columns= ["Site_Description_Lower", "Region_y"])

In [124]:
traffic_df.shape

(7981075, 9)

In [125]:
traffic_df.to_csv("trafficData.csv", encoding = "utf8")